<div id="logreg-forms">


  <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
      <div class="social-login">


        

         <center> <button class="btn google-btn social-btn" type="button" (click)="authService.GoogleAuth()"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button></center>


      </div>
      <p style="text-align:center"> OR  </p>


      <input type="text" class="form-control" placeholder="Username" #userName required>


      <input type="password" class="form-control" placeholder="Password" #userPassword required>
      
      <!-- BOTON DE INICIO DE SESION-->

      <button class="btn btn-success btn-block" type="button" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)"><i class="fas fa-sign-in-alt"></i>Iniciar Sesion</button>     

      </form>
      


</div>
