
<div class="row">
    <div class="col-md-4">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Listado de clientes</h4>
            </div>
            <div class="ibox-content">
    
                <table class="table">
                    ​
                    <!-- Encabezado de la tabla -->
                    <thead>
                        <tr>                                                    
                            <th>DUI</th>
                            <th>Mascota</th>
                            <th>Celular</th>
                            <th>Mascotas</th>
                            
                        </tr>
                    </thead>
                    ​
                    <!-- -->
    
                    ​
                    <!-- Cuerpo de la tabla -->
                    <tbody>
                        <tr *ngFor="let cli of client">                            
                            <td>{{cli.Dui}}</td>     
                            <td>{{cli.Nombre}}</td>     
                            <td>{{cli.Celular}}</td>     
                            <td>
                              <p *ngFor="let ma of cli.Mascotas">
                                    {{ma.Nombre}}
                              </p>
                            </td>     
                           
                        </tr>        
      
                    </tbody>
                    ​
                    ​
                </table>                
            </div>
        </div>
    </div>

     
<div class="col-md-4">
<div class="ibox">
    <div class="row3">
        <h4>Ingresar datos cliente</h4>
    </div>
    <div class="ibox-content">

        <form #clienteform="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <p>DUI</p>
                <input type="text" placeholder="dui" id="dui" [(ngModel)]="output.dui"
                    class="form-control" name="dui" required>
            </div>
            <div class="form-group">
                <p>Nombre</p>
                <input type="text" placeholder="nombre" id="nombre" [(ngModel)]="output.nombre" name="nombre"
                    class="form-control">
            </div>
            <div class="form-group">
                <p>Celular</p>
                <input type="text" placeholder="celular" id="celular" [(ngModel)]="output.celular"
                    name="celular" class="form-control">
            </div>
            <div class="form-group">
                <p>Nombre Mascota</p>
                <input type="text" placeholder="Nombre Mascota" id="nombreMascota"
                    [(ngModel)]="output.nombreMascota" name="nombreMascota" class="form-control">
            </div>
           
           

            ​<button type="submit" class="btn-btn-primary">Guardar</button>

        </form>
        ​
    </div>
</div>
</div> 
</div>

